<div class="footer-wrapper">
  <footer>
    <div class="copyright">
      <span>&copy; APL 2014</span>
    </div>
    
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out FruitFace!" data-via="aphu420" data-count="none" data-hashtags="FruitFaceLearnToCodeSVG">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      
      <a href="http://www.tumblr.com/share" class="tumblr-button" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('https://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a>
      
      <a href="//www.pinterest.com/pin/create/button/" class="pin-button" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
      <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    </div>
      
  </footer>
</div>