<div id="menu-wrapper">
  <div class="menu">MENU</div>

  <ul id="menu-list">
    <li class="menu-item"><%= link_to "Home", root_path %></li>
    <li class="menu-item"><%= link_to "Gallery", fruits_path %></li>
    <li class="menu-item"><%= link_to "Create", new_fruit_path %></li>
  </ul>
</div>


