<div id="menu-wrapper">

  <div class="menu"><i class="fa fa-bars"></i></div>

  <section>
    <div class="menu-shim"></div>
    <div class="close-menu"><i class="fa fa-times"></i></div>

    <ul id="menu-list">
      <li><h1 class="menu-logo">FruitFace</h1></li>
      <li class="menu-item"><%= link_to "Home", root_path %></li>
      <li class="menu-item"><%= link_to "Gallery", fruits_path %></li>
      <li class="menu-item"><%= link_to "Create", new_fruit_path %></li>
      <li class="menu-item"><%= link_to "About", about_path %></li>
    </ul>

    <footer>
      <div class="social">
        <span>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check Out FruitFace!" data-via="aphu420" data-count="none">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
        <span>Pinterest</span>
        <span>Tumblr</span>
      </div>
      
      <div class="copyright">
        <p>&copy; APL 2014</p>
      </div>   
    </footer>

  </section>
</div>


