<h2>How to create a FruitFace:</h2>
<ol>
  <li>Click on the body tab and choose your favorite shape.</li>
  <li>View your creation in the preview box as you go.</li>
  <li>Next, select 1 type of eyes, mouth, and hair.</li>
  <li>Choose as many accessories as you'd like - go crazy!</li>
  <li>Almost done, click 'Finished' and enter in a name for your FruitFace and your Twitter Handle.</li>
</ol> 