<form>
  <div class="user-input">
    <p>FruitFace's Name:</p>
    <input type="text" id="fruit_name" name="fruitName" maxlength="15"/>
   <!--  <p>Your Twitter Handle:</p>
    <input type="text" id="twitter_name" name="twitterHandle"/> -->
  </div>
</form>

<div class="save-btn-wrapper">
  <button type="button" class="save-btn" id="saveFruit">SAVE</button> 
</div>

