<div class="container">
  <div>Menu</div>
  <h2 class="gallery-logo">FruitFace Gallery</h2>

</div>

<script>
  <% @fruits.order(:created_at).each do |fruit| %>
    var id = <%= fruit.id %>

    $.getJSON("/fruits/" + id, function(data) {

      group = d3.select("body").append("svg").attr("width", 300).attr("height", 300).attr("class", "fruit-<%= fruit.id %> fruit-gallery");
        group.append("text").text(data.fruit.name).attr('x', 135).attr('y', 250);

      $.each(data.parts, function(key, value) {
        this_fruit_part = value["identifier"];

        container = ".fruit-" + data.fruit.id
        window[this_fruit_part](container)
      });
      
      <% if fruit.color %>
        $(".fruit-<%= fruit.id %> .color-change").css("fill", "<%= fruit.color %>"); 
      <% end %>
    });

  <% end %>
</script>

