<div class="wrapper">
  <div class="half-page-container">

    <div class="left-page">
      <h2>PREVIEW</h2>

      <svg class="preview"></svg>

    </div>

    <div class="right-page">
      <h2>CUSTOMIZATIONS</h2>

      <div class="parts-container">
        <h2>BODY</h2>
        <svg class="body parts" id="body-round"></svg>
        <svg class="body parts" id="body-pear"></svg>
        <input type="color" value="#ff0000">
      </div>

      <div class="parts-container">
        <h2>EYES</h2>
        <svg class="eyes parts" id="eyes-open"></svg>
        <svg class="eyes parts" id="eyes-closed"></svg>
      </div>

      <div class="parts-container">
        <h2>LIMBS</h2>
        <svg class="limbs parts" id="legs"></svg>
        <svg class="limbs parts" id="arms"></svg>
        <input type="color" value="#ff0000">
      </div>
      
      <div class="parts-container">
        <h2>MOUTH</h2>
        <svg class="mouth parts" id="mouth-happy"></svg>
        <svg class="mouth parts" id="mouth-sad"></svg>
        <svg class="mouth parts" id="mouth-open"></svg>
      </div>
      
      <div class="parts-container">
        <h2>HAIR</h2>
        <svg class="hair parts" id="hair-leaf"></svg>
        <svg class="hair parts" id="hair-double-leaf"></svg>
        <svg class="hair parts" id="hair-shaggy"></svg>
      </div>
      
      <div class="parts-container">
        <h2>Accessories</h2>
        <svg class="accessories parts" id="freckles"></svg>
      </div>
      
    </div>
  </div>
</div>