<div class="wrapper">
  <div class="half-page-container">

    <div class="left-page">
      <h2>PREVIEW</h2>

      <svg class="preview"></svg>

    </div>

    <div class="right-page">
      <h2>Customizations</h2>
      <p>Select your features below:</p>

      <div class="parts-container">
        <h3>BODY</h3>
        <svg class="body parts" id="bodyRound"></svg>
        <svg class="body parts" id="bodyPear"></svg>
        <input type="color" value="#ff0000">
      </div>

      <div class="parts-container">
        <h3>EYES</h3>
        <svg class="eyes parts" id="eyesOpen"></svg>
        <svg class="eyes parts" id="eyesClosed"></svg>
      </div>

      <div class="parts-container">
        <h3>LIMBS</h3>
        <svg class="limbs parts" id="legs"></svg>
        <svg class="limbs parts" id="arms"></svg>
        <input type="color" value="#ff0000">
      </div>
      
      <div class="parts-container">
        <h3>MOUTH</h3>
        <svg class="mouth parts" id="mouthHappy"></svg>
        <svg class="mouth parts" id="mouthSad"></svg>
        <svg class="mouth parts" id="mouthOpen"></svg>
      </div>
      
      <div class="parts-container">
        <h3>HAIR</h3>
        <svg class="hair parts" id="hairLeaf"></svg>
        <svg class="hair parts" id="hairDoubleLeaf"></svg>
        <svg class="hair parts" id="hairShaggy"></svg>
      </div>
      
      <div class="parts-container">
        <h3>Accessories</h3>
        <svg class="accessories parts" id="freckles"></svg>
      </div>
      
    </div>
  </div>
</div>