<div class="wrapper">

  <div class="preview-wrapper">
    <h2>PREVIEW</h2>
    <svg class="preview"> </svg>
    
    <button type="button" class="btn" id="saveFruit">Save it!</button>
  </div>

  <div class="parts-wrapper">
    <h2>Customizations</h2>
    <p>Select your features below:</p>

    <div class="parts-container body">
      <h3>BODY</h3>
      <svg class="parts" id="bodyRound"></svg>
      <svg class="parts" id="bodyPear"></svg>
      <svg class="parts" id="bodyStrawberry"></svg>
      <svg class="parts" id="bodyGrape"></svg>
    </div>

    <div class="parts-container eyes">
      <h3>EYES</h3>
      <svg class="parts" id="eyesOpen"></svg>
      <svg class="parts" id="eyesClosed"></svg>
    </div>

    <div class="parts-container limbs">
      <h3>LIMBS</h3>
      <svg class="parts" id="legs"></svg>
      <svg class="parts" id="arms"></svg>
      <input type="color" value="#ff0000">
    </div>
    
    <div class="parts-container mouth">
      <h3>MOUTH</h3>
      <svg class="parts" id="mouthHappy"></svg>
      <svg class="parts" id="mouthSad"></svg>
      <svg class="parts" id="mouthOpen"></svg>
    </div>
    
    <div class="parts-container hair">
      <h3>HAIR</h3>
      <svg class="parts" id="hairLeaf"></svg>
      <svg class="parts" id="hairDoubleLeaf"></svg>
      <svg class="parts" id="hairShaggy"></svg>
    </div>
    
    <div class="parts-container accessories">
      <h3>ACCESSORIES</h3>
      <svg class="parts" id="freckles"></svg>
      <svg class="parts" id="roundGlasses"></svg>
      <svg class="parts" id="squareGlasses"></svg>
      <svg class="parts" id="mustache"></svg>
      <svg class="parts" id="mustache_two"></svg>
    </div>
  </div>

</div>