<div class="wrapper">
  <div class="half-page-container">

    <div class="left-page">
      <h2>PREVIEW</h2>

      <svg class="preview"> </svg>

    </div>

    <div class="right-page">
      <h2>Customizations</h2>
      <p>Select your features below:</p>

      <div class="parts-container">
        <h3>BODY</h3>
        <svg class="parts" id="bodyRound"></svg>
        <svg class="parts" id="bodyPear"></svg>
        <input type="color" value="#ff0000">
      </div>

      <div class="parts-container">
        <h3>EYES</h3>
        <svg class="parts" id="eyesOpen"></svg>
        <svg class="parts" id="eyesClosed"></svg>
      </div>

      <div class="parts-container">
        <h3>LIMBS</h3>
        <svg class="parts" id="legs" data-part="limbs"></svg>
        <svg class="parts" id="arms" data-part="limbs"></svg>
        <input type="color" value="#ff0000">
      </div>
      
      <div class="parts-container">
        <h3>MOUTH</h3>
        <svg class="parts" id="mouthHappy" data-part="mouth"></svg>
        <svg class="parts" id="mouthSad" data-part="mouth"></svg>
        <svg class="parts" id="mouthOpen" data-part="mouth"></svg>
      </div>
      
      <div class="parts-container">
        <h3>HAIR</h3>
        <svg class="parts" id="hairLeaf" data-part="hair"></svg>
        <svg class="parts" id="hairDoubleLeaf" data-part="hair"></svg>
        <svg class="parts" id="hairShaggy" data-part="hair"></svg>
      </div>
      
      <div class="parts-container">
        <h3>Accessories</h3>
        <svg class="parts" id="freckles" data-part="accessories"></svg>
      </div>
      
    </div>
  </div>
</div>