<div class="container">

  <div class="header-container">
    <button type="button" class="help-btn">HELP</button> 
    <h2 class="logo">FruitFace</h2>
    <button type="button" class="finish-btn">FINISHED</button>
    
    <section>
      <div class="shim"></div>
      <div class="help-content"><%= render partial: 'help' %></div>
      <div class="save-content"><%= render partial: 'save' %></div>
    </section>
  </div>

  <div class="preview-wrapper">
    <input type="color" class="color-picker" id="colorinput" value="#2B8B9D">
    <p class="color-picker-info">Select a color!</p>
    <svg class="preview"></svg>
  </div>


  <div class="btn-container">
    <button type="button" class="open-parts-slider" data-flexslider-class="flexslider1">BODY</button>
    <button type="button" class="open-parts-slider" data-flexslider-class="flexslider2">EYES</button>
    <button type="button" class="open-parts-slider" data-flexslider-class="flexslider3">MOUTH</button>
    <button type="button" class="open-parts-slider" data-flexslider-class="flexslider4">HAIR</button>
    <button type="button" class="open-parts-slider" data-flexslider-class="flexslider5">ACCESSORIES</button>
  </div>


  <div class="flexslider1">
    <button type="button" class="done-btn">DONE</button>
    <ul class="slides">
      <li>
        <svg class="parts" id="bodyRound"></svg>
      </li>
      <li>
        <svg class="parts" id="bodyPear"></svg>   
      </li>
      <li>
        <svg class="parts" id="bodyStrawberry"></svg>
      </li>
      <li>
        <svg class="parts" id="bodyGrape"></svg>
      </li>
    </ul>
  </div>



  <div class="flexslider2">
    <button type="button" class="done-btn">DONE</button>
    <ul class="slides">
      <li>
        <svg class="parts" id="eyesOpen"></svg>
      </li>
      <li>
        <svg class="parts" id="eyesClosed"></svg>  
      </li>
    </ul>
  </div>



  <div class="flexslider3">
    <button type="button" class="done-btn">DONE</button>
    <ul class="slides">
      <li>
        <svg class="parts" id="mouthHappy"></svg>
      </li>
      <li>
        <svg class="parts" id="mouthSad"></svg>
      </li>
      <li>
        <svg class="parts" id="mouthOpen"></svg>
      </li>
    </ul>
  </div>



  <div class="flexslider4">
    <button type="button" class="done-btn">DONE</button>
    <ul class="slides">
      <li>
        <svg class="parts" id="hairLeaf"></svg>
      </li>
      <li>
        <svg class="parts" id="hairDoubleLeaf"></svg>
      </li>
      <li>
        <svg class="parts" id="hairShaggy"></svg>
      </li>
    </ul>
  </div>


  <div class="flexslider5">
    <button type="button" class="done-btn">DONE</button>
    <ul class="slides">
      <li>
        <svg class="parts" id="freckles"></svg>
      </li>
      <li>
        <svg class="parts" id="roundGlasses"></svg>
      </li>
      <li>
        <svg class="parts" id="squareGlasses"></svg>
      </li>
      <li>
        <svg class="parts" id="mustache"></svg>
      </li>
      <li>
        <svg class="parts" id="mustache_two"></svg>
      </li>
    </ul>
  </div>

  <div class="instructions">
    <p>You can customize fruit-type, color, and more!</p>
    <p>Click on the tabs above to explore the options.</p>
    <p>See what others have created:</p>
    <%= link_to "View Gallery", "/fruits" %>
  </div>



</div>
