<div class="wrapper">
  <div class="half-page-container">

    <div class="left-page">
      <h2>PREVIEW</h2>

     

    </div>

    <div class="right-page">
      <h2>CUSTOMIZATIONS</h2>

      <div class="parts-container">
        <h2>BODY</h2>
        <svg class="parts parts-body-round"></svg>
        <svg class="parts parts-body-pear"></svg>
      </div>

      <div class="parts-container">
        <h2>EYES</h2>
        <svg class="parts parts-eyes-open"></svg>
        <svg class="parts parts-eyes-closed"></svg>
      </div>

      <div class="parts-container">
        <h2>LIMBS</h2>
        <svg class="parts parts-legs"></svg>
        <svg class="parts parts-arms"></svg>
      </div>
      
      <div class="parts-container">
        <h2>MOUTH</h2>
        <svg class="parts parts-mouth-happy"></svg>
        <svg class="parts parts-mouth-sad"></svg>
        <svg class="parts parts-mouth-open"></svg>
      </div>
      
      <div class="parts-container">
        <h2>HAIR</h2>
        <svg class="parts parts-hair-leaf"></svg>
        <svg class="parts parts-hair-double-leaf"></svg>
        <svg class="parts parts-hair-shaggy"></svg>
      </div>
      
      <div class="parts-container">
        <h2>Accessories</h2>
        <svg class="parts parts-freckles"></svg>
      </div>
      
    </div>
  </div>
</div>