<div class="preview-wrapper">
  <button type="button" class="btn" id="saveFruit">Save it!</button>  
  <svg class="preview"></svg>
</div>

<div id="accordian">
  <ul>
    <li>
      <h3><span class="icon-dashboard"></span>Body Type</h3>
      <ul>
        <div class="parts-container body">
          <svg class="parts" id="bodyRound"></svg>
          <svg class="parts" id="bodyPear"></svg>
          <svg class="parts" id="bodyStrawberry"></svg>
          <svg class="parts" id="bodyGrape"></svg>
        </div>
      </ul>  
    </li>
    <li>
      <h3><span class="icon-dashboard"></span>Eyes</h3>
      <ul>
        <div class="parts-container eyes">
          <svg class="parts" id="eyesOpen"></svg>
          <svg class="parts" id="eyesClosed"></svg>
        </div> 
      </ul>  
    </li>
    <li>
      <h3><span class="icon-dashboard"></span>Mouth</h3>
      <ul>
        <div class="parts-container mouth">
          <svg class="parts" id="mouthHappy"></svg>
          <svg class="parts" id="mouthSad"></svg>
          <svg class="parts" id="mouthOpen"></svg>
        </div>
      </ul>  
    </li>
    <li>
      <h3><span class="icon-dashboard"></span>Hair</h3>
      <ul>
        <div class="parts-container hair">
          <svg class="parts" id="hairLeaf"></svg>
          <svg class="parts" id="hairDoubleLeaf"></svg>
          <svg class="parts" id="hairShaggy"></svg>
        </div>
      </ul>  
    </li>
    <li>
      <h3><span class="icon-dashboard"></span>Accessories</h3>
      <ul>
        <div class="parts-container accessories">
          <svg class="parts" id="freckles"></svg>
          <svg class="parts" id="roundGlasses"></svg>
          <svg class="parts" id="squareGlasses"></svg>
          <svg class="parts" id="mustache"></svg>
          <svg class="parts" id="mustache_two"></svg>
        </div>
      </ul>  
    </li>        
  </ul>
</div>

