<section class="module parallax parallax-1">
  <div class="container">
    <div class="index-container">
      <h1>Make yours today!</h1>

      <div class="stage">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class="band"></div>
        <div class="factory">
          <div class="magic"></div>
          <div class="screen"></div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="module content">
  <div class="container-content">
    
    <div class="circle">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-grape"> 
      </svg>
    </div>

    <div class="text-right">
      <h2>Create your FruitFace!</h2>
      <p>Personalize your creation with an assortment of features.</p>
    </div>

    

    <div class="text-right">
      <h2>Save it to the Gallery.</h2>
      <p>See your FruitFace in the gallery, along with ...</p>
    </div>

    <div class="circle">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-strawberry"> 
      </svg>
    </div>


    <div class="circle">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-pear"> 
      </svg>
    </div>

    <div class="text-right">
      <h2>View the Code and Share your creation.</h2>
      <p>Want to know how it was made? Checkout the code snippet and paste it into your projects.</p>
    </div>

    
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Rise</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2>Lorem Ipsum Dolor</h2>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-orange"> 
      </svg>
  </div>
</section>

