<section>
  <div class="index-container">
   
    <h1 class="logo index-logo">FruitFace Generator</h1>

    <div class="stage">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="computer"></div>
      <div class="comp-screen"><i class="fa fa-code"></i></div>
      <div class="power"></div>
      <div class="comp-stand"><i class="fa fa-keyboard-o"></i><i class="fa fa-keyboard-o"></i><i class="fa fa-keyboard-o"></i></div>
      <div class="band"></div>
      <div class="dots"></div>
      <div class="band-stand"></div>
      <div class="shadow"></div>
      <!-- <div class="tube tube-bottom"></div> -->

    </div>


  
    <div class="arrow-wrapper">
      <div href="#" class="arrow arrow-bottom">Scroll Down</div> 
    </div>
  </div>
</section>



<section class="landing-text-wrapper">  
  <div class="landing-text">

      <h2>What...</h2>
      <div class="emoji-wrapper">
        <%= image_tag "http://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Emoji_u1f34f.svg/2000px-Emoji_u1f34f.svg.png" %>
        <span class="symbols"> + </span>
        <%= image_tag "http://cdn.shopify.com/s/files/1/0185/5092/products/persons-0006.png?v=1369544093" %>
        <span class="symbols"> = </span>
        <span class="title-text">FRUITFACE.</span>
      </div>
    
    <h2>View the Code and Share it!</h2>
    <p>Want to know how your FruitFace was made? Checkout the code snippet and learn how you can share your creation. </p>

    
    <h3>Don't forget to visit the <%= link_to "Gallery", fruits_path %>.</h3>

    <p>Create a FruitFace using the generator.</p>
    <p>Personalize it with an assortment of features.</p>
  </div>
</section>


<section class="fruit-party">

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-orange"> 
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-slice"> 
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-strawberry"> 
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-grape"> 
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" xml:space="preserve" class="sample sample-pear"> 
  </svg>

  <div class="build-btn">
    <%= link_to "Build a FruitFace!", new_fruit_path %>
  </div>

</section>

