.open-parts-slider, 
.save-btn {
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 3%;
}

.save-btn {
  
}

.help-btn {
  width: 20%; 
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.finish-btn {
  width: 20%;
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.open-parts-slider:first-of-type {
    margin-left: 2%;
}

.x-btn {
  display: none;
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 3%;
}

