.open-parts-slider, 
.save-btn, 
.code-redirect-btn,
.gallery-redirect-btn, 
.gallery-btn,
.build-btn {
  text-shadow: 1px 1px 2px #111;
  background: $button;
  border-radius: 4px;
  padding: 10px;
  margin-right: 4px;
  border:1px solid darken($button, 10%);
  color: $beige;
  box-shadow: 0 3px 0 0 darken($button, 5%), 0px 1px 0px darken($button, 10%);
  
  a {
    color: $beige;
  }

  &:hover {
    background: $highlight;
    box-shadow: 0 0 0 0;
    border: none;
  }
}

.build-btn {
  text-align: center;
  width: 200px;
  padding: 10px;
  position: relative;
  bottom: 300px;
  margin: 0 auto;
  letter-spacing: 3px;

}

.help-btn {
  text-shadow: 1px 1px 2px #111;
  width: 20%; 
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.finish-btn, 
.reset-btn  {
  text-shadow: 1px 1px 2px #111;
  background: $red;
  color: #ffffff;
  border-radius: 4px;
  margin-right: 4px;
  padding: 3% 11%;
  font-weight: bolder;
  letter-spacing: 3px;
  border: 1px solid darken($button, 10%);
  box-shadow: 0 3px 0 0 darken($button, 5%), 0px 1px 0px darken($button, 10%);

  &:hover {
    background: $highlight;
    box-shadow: 0 0 0 0;
    border: none;
  }
}

.done-btn {
  text-shadow: 1px 1px 2px #111;
  display: none;
  background: $button;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  position: absolute;
  left: 22px;
  top: 12px;
  z-index: 1;
  border:1px solid darken($button, 10%);
  box-shadow: 0 3px 0 0 darken($button, 5%), 0px 1px 0px darken($button, 10%);

  &:hover {
    background: $highlight;
    box-shadow: 0 0 0 0;
    border: none;
  }
}

#my-button_pre {
  text-shadow: 1px 1px 2px #111;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: $button;
  padding: 10px;
  border:1px solid darken($button, 10%);
  box-shadow: 0 3px 0 0 darken($button, 5%), 0px 1px 0px darken($button, 10%);
}
      
#my-button_pre.zeroclipboard-is-hover { 
  background-color: #690; 
}
    
#my-button_pre.zeroclipboard-is-active {
 background-color: #aaa; 
}

.after-save-btn {
  margin-right: 12px;
}

@media screen and (min-width: $laptop) {

  .open-parts-slider, 
  .save-btn, 
  .code-redirect-btn,
  .gallery-redirect-btn {
    padding: 1% 3%;
  }


  .finish-btn, 
  .reset-btn  {
    padding: 1% 10%;
  }

  .gallery-btn {
    width: 20%;
    margin: 0 auto;
  }
}
