.open-parts-slider, 
.save-btn, 
.code-redirect-btn,
.gallery-redirect-btn {
  text-shadow: 1px 1px 2px #111;
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-right: 4px;
  border:1px solid darken(#004050, 10%);
  box-shadow: 0 3px 0 0 darken(#004050, 5%), 0px 1px 0px darken(#004050, 10%);

  &:hover {
    background: $highlight;
    box-shadow: 0 0 0 0;
  }
}


.help-btn {
  text-shadow: 1px 1px 2px #111;
  width: 20%; 
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.finish-btn {
  text-shadow: 1px 1px 2px #111;
  width: 20%;
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.done-btn {
  text-shadow: 1px 1px 2px #111;
  display: none;
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  position: absolute;
  left: 22px;
  top: 12px;
  z-index: 1;
  border:1px solid darken(#004050, 10%);
  box-shadow: 0 3px 0 0 darken(#004050, 5%), 0px 1px 0px darken(#004050, 10%);

  &:hover {
    background: $highlight;
    box-shadow: 0 0 0 0;
  }
}

.reset-btn {
  text-shadow: 1px 1px 2px #111;
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  position: absolute;
  left: 22px;
  bottom: 12px;
  border:1px solid darken(#004050, 10%);
  box-shadow: 0 3px 0 0 darken(#004050, 5%), 0px 1px 0px darken(#004050, 10%);

  &:hover {
    background: $highlight;
    box-shadow: 0 0 0 0;
  }
}

#my-button_pre {
  text-shadow: 1px 1px 2px #111;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #004050;
  padding: 10px;
}
      
#my-button_pre.zeroclipboard-is-hover { 
  background-color: #690; 
}
    
#my-button_pre.zeroclipboard-is-active {
 background-color: #aaa; 
}

.after-save-btn {
  margin-right: 12px;
}
