.open-parts-slider, 
.save-btn {
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 10px;
  
  &:hover {
    background: $highlight;
  }
}

.help-btn {
  width: 20%; 
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.finish-btn {
  width: 20%;
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.done-btn {
  display: none;
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-left: 3%;
}

#my-button_pre {
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #004050;
  padding: 10px;
}
      
#my-button_pre.zeroclipboard-is-hover { 
  background-color: #690; 
}
    
#my-button_pre.zeroclipboard-is-active {
 background-color: #aaa; 
}

