.open-parts-slider, 
.save-btn {
  text-shadow: 1px 1px 2px #111;
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 10px;
  
  &:hover {
    background: $highlight;
  }
}

.help-btn {
  text-shadow: 1px 1px 2px #111;
  width: 20%; 
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.finish-btn {
  text-shadow: 1px 1px 2px #111;
  width: 20%;
  display: inline-block;
  background: none;
  color: #ffffff;
  border: none;
}

.done-btn {
  text-shadow: 1px 1px 2px #111;
  display: none;
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  position: absolute;
  left: 22px;
  top: 12px;
  z-index: 1;
}

.reset-btn {
  text-shadow: 1px 1px 2px #111;
  background: #004050;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  position: absolute;
  left: 22px;
  bottom: 12px;
}

#my-button_pre {
  text-shadow: 1px 1px 2px #111;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #004050;
  padding: 10px;
}
      
#my-button_pre.zeroclipboard-is-hover { 
  background-color: #690; 
}
    
#my-button_pre.zeroclipboard-is-active {
 background-color: #aaa; 
}

