#menu-list {
  display: none;
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  padding-left: 0;

  ul {
    margin: 0;
  }

  li {
    list-style: none;
    padding-bottom: 10px;

    a {
      color: $red;
      text-shadow: 1px 1px 2px #fff;
      font-family: $font-stack;

      &:hover {
        color: $lightgrey;
      }
    }
  }
}

.menu {
  position: fixed;
  right: 2%;
  top: 0;
}

.close-menu {
  z-index: 2;
  display: none;
  position: absolute;
  right: 2%;
  top: 0;
}

#menu-wrapper {
  padding: 2%;
}

.fa-bars {
  padding-top: 13px;
  color: #FFFFFF;
}

.gallery .fa-bars,
.about .fa-bars {
  color: $lightgrey;
}

.fa-times {
  z-index: 2;
  padding-top: 13px;
  color: $red;
}

.menu-shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: $beige;
}

footer {
  display: none;
  z-index: 2;
  color: $lightgrey;
  text-shadow: 1px 1px 2px #fff;
  font-family: $font-stack;
  font-size: .7em;
  left: 0;
  bottom: 15%;
  width: 100%;
  text-align: center;
  position: absolute;
}

.social {
  display: inline-block;
  width: 100%;

  span {
    margin-left: 2%;
  }
}

.copyright {
  display: inline-block;
  width: 100%;
}





@media screen and (min-width: $laptop) {

  #menu-list {
    display: none;
    position: absolute;
    left: 13%;
    top: 3%;
    text-align: center;
    width: 80%;
    z-index: 2;

    ul {
      margin: 0;
    }

    li {
      padding-right: 7%;
      list-style: none;
      display: inline;

      a {
        font-family: $font-fancy;
        font-size: 1.5em;
        font-weight: bolder;

       
      }
    }

    li:first-child { 
      display: none;
    }

  }

  .menu-shim {
    border: 90px solid $beige;
    display: none;
    z-index: 2;
    background: rgba(1, 1, 1, 0.57);
  }
  
  .menu-logo {
    display: inline-block;
  }

  .fa-bars {
    padding-top: 13px;
  }


  footer {
    display: none;
    z-index: 2;
    bottom: -1%;
    text-align: center;
    position: absolute;
  }

  .social {
    width: 100%;

    span {
      margin-left: 2%;
    }
  }

  .copyright {
    width: 100%;
  }


}

