$font-stack: 'Roboto Condensed', sans-serif;
$font-fancy: 'Amatic SC', sans-serif;

$highlight: #690;
$beige: #e9e8e3;
// $beige: #D5AF86;
$red: #eb3552;
$lightgrey: #828383;

// for media query
$laptop: 600px;