.about-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.about-header {
  font-family: $font-stack;
  color: #fff;
  text-shadow: 1px 1px 2px #111;  
  font-size: 1em;
  text-align: center;

  span {
    font-family: $font-fancy;
    font-size: 2em;
  }
}

.row {
  width: 100%;
}

.col-4 {
  width: 100%;
  border-bottom: 1px solid #444;
  padding: 5px 40px;
  vertical-align: top;
  font-family: $font-stack;
  font-weight: lighter;
  font-size: .7em;
  text-align: center;
  background: $beige;
  box-shadow: 7px 7px 5px rgba(63, 59, 59, 0.27);


  .fa {
    font-size: 2em;
  }

  p {
    text-align: left;
  }
}

.tech-wrapper {
  padding: 20px;
  margin-top: 20px;
  font-family: $font-stack;
  font-weight: lighter;
  font-size: .7em;
  background: $beige;
  box-shadow: 7px 7px 5px rgba(63, 59, 59, 0.27);
  margin-bottom: 100px;
}

@media screen and (min-width: 900px) {

  .row {
    width: 100%;
  }

  .col-4 {
    width: 33.1%;
    height: 400px;
    padding: 3%;
    display: inline-block;
    border-bottom: none;
  }

}

