.sample-orange .body-round {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotate 1s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
  animation: rotate 1s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
}

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: rotate(200deg);
  }
}

.blush {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes glow { 
  0% { fill: hsl(300, 83%, 40%); }
  50% { fill: hsl(300, 83%, 55%); }
  100% { fill: hsl(300, 83%, 85%); }
}

@keyframes { 
  0% { fill: hsl(300, 83%, 40%); }
  50% { fill: hsl(300, 83%, 55%); }
  100% { fill: hsl(300,83%, 85%); }
}



.sample-grape {
  @include animation(bounce 2s infinite);
}

.open-eye-md {
  @include animation(blink 6s infinite);
  transform-origin: 50%;
}

.eyesBlack {
  @include animation(blink 4s infinite);
  transform-origin: 50%;
}

.sample-pear {
  @include animation(crank-up 2s infinite);
}

.sample-apple {
  @include animation(slow-bounce 2s infinite);
}

.freckles {
  @include animation(grow 2s infinite);
  transform-origin: 50%;
}

.sample-slice,
.sample-strawberry {
  @include animation(slow-bounce 1.1s ease-in-out 0s infinite alternate);
}

.preview {
  @include animation(bounce 2s infinite);
}

.fruit-gallery:nth-of-type(odd) {
  @include animation(bounce 2s infinite);
}

.show-fruit {
  @include animation(bounce 3s infinite);
}
 

.preview .body-round,
.preview .body-slice,
.preview .body-apple,
.preview .body-strawberry,
.preview .body-grape,
.preview .body-pear, 
.preview .body-oval {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  @include animation(dash 4s linear alternate);
}



