.body-round {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotate 1s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
  animation: rotate 1s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
}

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: rotate(200deg);
  }
}
