.body-round {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotate 1s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
  animation: rotate 1s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
}

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: rotate(200deg);
  }
}


.sample-strawberry {
  -webkit-animation-name: glow;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  
  animation-name: glow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes glow { 
  0% { fill: hsl(6, 93%, 30%); }
  50% { fill: hsl(6, 93%, 56%); }
  100% { fill: hsl(6, 93%, 65%); }
}

@keyframes { 
  0% { fill: hsl(6, 93%, 30%); }
  50% { fill: hsl(6, 93%, 56%); }
  100% { fill: hsl(6, 93%, 65%); }
}




.sample-grape {
  @include animation(bounce 2s infinite);
}

.open-eye-md {
  @include animation(blink 6s infinite);
  transform-origin: 50%;
}

.sample-pear {
  @include animation(crank-up 2s infinite);
}

.freckles {
  @include animation(grow 2s infinite);
  transform-origin: 50%;
}