/*
 *= require_self
 */

 // Variables
@import 'variables';
@import 'fonts';

// Vendor
@import 'bourbon';
@import 'normalize';
@import 'flexslider';
@import 'prism';

// Pages
@import 'main';
@import 'svg';
@import 'animation';
@import 'show';
@import 'home';

// Components 
@import 'buttons';
@import 'nav';
@import 'footer';

// bourbon animations:
@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}

@include keyframes(blink) {
  0%, 1%, 2%, 60%, 61%, 62%, 100% {
    @include transform(scaleX(1) scaleY(1));
  }
  1% { @include transform(scaleX(1.3) scaleY(0.1));
  }
  2% { @include transform(scaleX(1) scaleY(1));
  }
  60% { @include transform(scaleX(1) scaleY(1));
  }
  61% { @include transform(scaleX(1.3) scaleY(0.1));
  }
  62% { @include transform(scaleX(1) scaleY(1));
  }
  100% { @include transform(scaleX(1) scaleY(1));
  }
}

@include keyframes(crank-up) {
  20%,
  40% { -webkit-transform: translateY(34px); }
  60% { opacity: .8; }
  100% { -webkit-transform: rotate(360deg);}
}

@include keyframes(grow) {
  0% {
    @include transform(scale(0.3));
  }
  30% {
    @include transform(scale(1.2));
  }
  60% {
    @include transform(scale(0.9));
  }
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}


@include keyframes(slow-bounce) {
  0% {
   @include transform(translateY(80px));
  }
  100% {
    @include transform(translateY(30px));
  }
}



