/*
 *= require_self
 */

 // Variables
@import 'variables';
@import 'fonts';

// Vendor
@import 'bourbon';
@import 'normalize';
@import 'flexslider';
@import 'prism';

// Pages
@import 'main';
@import 'svg';
@import 'animation';
@import 'show';
@import 'home';
@import 'about';

// Components 
@import 'buttons';
@import 'nav';

// bourbon animations:
@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {@include transform(translateY(0));}
  40% {@include transform(translateY(-30px));}
  60% {@include transform(translateY(-15px));}
}

@include keyframes(blink) {
  0%, 1%, 2%, 60%, 61%, 62%, 100% {@include transform(scaleX(1) scaleY(1));}
  1% { @include transform(scaleX(1.3) scaleY(0.1));}
  2% { @include transform(scaleX(1) scaleY(1));}
  60% { @include transform(scaleX(1) scaleY(1));}
  61% { @include transform(scaleX(1.3) scaleY(0.1));}
  62% { @include transform(scaleX(1) scaleY(1));}
  100% { @include transform(scaleX(1) scaleY(1));}
}

@include keyframes(crank-up) {
  20%,
  40% { -webkit-transform: translateY(34px); }
  60% { opacity: .8; }
  100% { -webkit-transform: rotate(360deg);}
}

@include keyframes(grow) {
  0% {@include transform(scale(0.3));}
  30% {@include transform(scale(1.2));}
  60% {@include transform(scale(0.9));}
  100% {@include transform(scale(1)); opacity: 1;}
}


@include keyframes(slow-bounce) {
  0% {@include transform(translateY(80px));}
  100% {@include transform(translateY(30px));}
}


@include keyframes(moveRight) {
  0%   {transform: translate(0px, 8px);}
  50%  {transform: translate(0px, 8px);}
  80%  {transform: translate(325px, 8px);}
  90%  {transform: translate(330px, 12px);}
  100% {transform: translate(340px, 110px);}
}

@include keyframes(moveRightMobile) {
  0%   {transform: translate(0px, 8px);}
  50%  {transform: translate(0px, 8px);}
  80%  {transform: translate(200px, 8px);}
  90%  {transform: translate(250px, 12px);}
  100% {transform: translate(285px, 110px);}
}

@include keyframes(conveyor-belt) {
  0%   {transform: translate(0px, 0px);}
  50%  {transform: translate(0px, 0px);}
  80%  {transform: translate(3px, 0px);}
  90%  {transform: translate(6px, 0px);}
}


@include keyframes(blinker) {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@include keyframes(bounceDown) {
  0% {@include transform(translateY(-2000px));}
  60% {@include transform(translateY(1em));}
  80% {@include transform(translateY(-0.5em));}
  100% {@include transform(translateY(0));}
}


@include keyframes(dash) {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@include keyframes(slideRight) {
  0% {transform: translate(200px, 0px);}
  50% {transform: translate(-50px, 0px);}
  100% {transform: translate(0px, 0px);}
}

@include keyframes(slideLeft) {
  0% {transform: translate(-200px, 0px);}
  50% {transform: translate(50px, 0px);}
  100% {transform: translate(0px, 0px);}
}

// @include keyframes(slideLeft) {
//   0% { left: -20%; }
//   50% { left: 10%; }
//   100% { left: 5%; }
// }