.index-container {
  height: 630px;
}

.index-logo {
  width: 100%;
  margin: 0px;
  text-align: center;
  font-size: 3em;
}
// landing page animation

.stage {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -175px 0 0 -250px;
  width: 500px;
  height: 350px;
}

.computer {
  width: 110px;
  height: 82px;
  border-radius: 16px;
  position: absolute;
  top: 37%;
  background: lightgrey;
}

.comp-screen {
  width: 90px;
  height: 64px;
  border-radius: 16px;
  position: absolute;
  top: 39.5%;
  left: 2%;
  z-index: 1;
  background: rgba(0,0,0,.75);
}


.power {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 58%;
  left: 19%;
}

.comp-stand {
  background: lightgrey;
  z-index: 1;
  width: 90px;
  height: 87px;
  position: absolute;
  top: 61%;
  left: 2%;
}

.fa-code {
  color: #27D020;
  margin-top: 20px;
  @include animation(blinker 1s linear infinite);
}

.band {
  position: absolute;
  width: 80%;
  height: 15px;
  background: darken(#4b5d6f, 10);
  border-radius: 8px;
  transform: translate(-4px, 210px);
}

.band-stand {
  background: #4b5d6f;
  position: absolute;
  top: 64.5%;
  transform: skew(-15deg);
  width: 76%;
  height: 75px;
  left: -10px;
}

.dots {
  width: 78%;
  position: absolute;
  top: 53.5%;
  height: 30px;
  border-bottom: 9px dotted #4b5d6f;
  overflow: hidden;
  @include animation(conveyor-belt 3s infinite);
}

.shadow {
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
  width: 18%;
  border-radius: 100%;
  position: absolute;
  bottom: 14%;
  left: 75%;
  z-index: -1;
}

.stage {
  ul {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 420px;
    height: 140px;
    overflow: hidden;
    transform: translate(60px, 160px);
  

    li {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: orange;
      transform: translate(90px, 8px);
      @include animation(moveRight 4s infinite);
    }
  }
}


.sample-orange {
  position: relative;
  left: 290px;
  top: 30px;
  // @include animation(tubeDrop 5s infinite);
}

.sample-pear {
  position: relative;
  left: 386px;
  top: 65px;
}

.sample-slice {
  @include animation(bounce 3s infinite);
}

.sample-grape {
  top: 60px;
  left: 240px;
  position: relative;
}

.sample-strawberry {
  top: -13px;
  left: -134px;
  position: relative;
}

.sample-slice {
  top: 208px;
  left: 340px;
  position: relative;
}

.sample-apple {
  position: relative;
  left: -266px;
  top: 148px;
}

// .tube {
//   position: absolute;
//   left: 59.8%;
//   bottom: -54.4%;
//   border-radius: 5px;
//   background: #201C1C;
//   height: 600px;
//   width: 7.1%; 
//   z-index: 1;
// }

// .tube-bottom:after {
//   position: absolute;
//   bottom: -54px;
//   left: -61%;
//   content: "";
//   display: block;
//   transform: rotate(180deg);
//   border-left: 100px solid transparent;
//   border-right: 100px solid transparent;
//   border-top: 100px solid rgba(29, 24, 24, .8);
// }

.arrow{
  position: relative;
  width: 120px;
  background: $beige;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px; 
  text-align: center;
  color: $highlight;
}

.arrow-bottom:after{
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  content: "";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $beige; 
}

.arrow-wrapper {
  position: absolute;
  bottom: 2%;
  left: 45%;
  @include animation(bounce 3s infinite);
}

.landing-text-wrapper {
  position: relative;
  background: $beige;
  height: 400px;
  padding: 3%;

  h2:nth-of-type(1) {
    position: absolute;
    left: 5%;
    top: 10%;
    @include animation(slideLeft 3s);
  }

  h2:nth-of-type(2) {
    position: absolute;
    right: 15%;
    top: 10%;
    width: 30%;
    @include animation(slideRight2 3s);
  } 

  p:nth-of-type(1) {
    position: absolute;
    right: 12%;
    top: 35%;
    width: 30%;
  }
  
  h3 {
    position: absolute;
    right: 22%;
    top: 70%;
    @include animation(slideRight 3s);
  }


  p {
    margin-left: 6%;
    font-family: $font-stack;
    font-weight: lighter;
    font-size: .8em;
  }
}



.emoji-wrapper {
  margin-left: 5%;
  margin-top: 10%;

  img {
    width: 7%;
  }
}

.symbols {
  font-family: $font-stack;
  vertical-align: 24px;
  font-size: 1.7em;
}

.title-text {
  vertical-align: 24px;
  font-size: 2em;
}

.fruit-party {
  width: 100%;
  margin-top: 20px;
}