.index-container {
  height: 630px;
}

.index-logo {
  font-size: 2em;
  text-align: center;
  width: 100%;
  margin: 0px;
}

.stage {
  overflow: hidden;
  position: absolute;
  top: 104px;
  left: 0px;
  width: 420px;
  height: 350px;
}

.computer {
  width: 110px;
  height: 82px;
  border-radius: 16px;
  position: absolute;
  top: 128px;
  background: lightgrey;
}

.comp-screen {
  width: 90px;
  height: 64px;
  border-radius: 16px;
  position: absolute;
  top: 39.5%;
  left: 2%;
  z-index: 1;
  background: rgba(0,0,0,.75);
}


.power {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 58%;
  left: 90px;
}

.comp-stand {
  background: lightgrey;
  z-index: 1;
  width: 90px;
  height: 87px;
  position: absolute;
  top: 61%;
  left: 2%;
}

.fa-code {
  color: #27D020;
  margin-top: 20px;
  @include animation(blinker 1s linear infinite);
}

.band {
  position: absolute;
  width: 82%;
  height: 16px;
  background: darken(#4b5d6f, 10);
  border-radius: 8px;
  transform: translate(-4px, 210px);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.band-stand {
  background: #4b5d6f;
  position: absolute;
  top: 64.5%;
  transform: skew(-15deg);
  width: 76%;
  height: 75px;
  left: -10px;
}

.dots {
  width: 78%;
  position: absolute;
  top: 54.5%;
  height: 30px;
  border-bottom: 9px dotted #4b5d6f;
  overflow: hidden;
  @include animation(conveyor-belt 3s infinite);
}

.shadow {
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
  width: 18%;
  border-radius: 100%;
  position: absolute;
  bottom: 14%;
  left: 75%;
  z-index: -1;
}

.stage {
  ul {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 420px;
    height: 140px;
    overflow: hidden;
    transform: translate(60px, 160px);
  

    li {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: orange;
      transform: translate(90px, 8px);
      @include animation(moveRightMobile 4s infinite);
      transform-origin: 50% 50%;
     -webkit-transform-origin: 50% 50%;
    }
  }
}

.sample-orange {
  // position: absolute;
  // top: 184%;
  // left: -5%
}

.sample-pear {
  display: none;
}

.sample-grape {
  display: none;
}

.sample-strawberry {
  display: none;
}

.sample-slice {
  display: none;
}

.sample-apple {
  display: none;
}

.arrow{
  position: relative;
  width: 120px;
  background: $beige;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px; 
  text-align: center;
  color: $highlight;
}

.arrow-bottom:after{
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  content: "";
  display: block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $beige; 
}

.arrow-wrapper {
  position: absolute;
  bottom: 80px;
  left: 36%;
  @include animation(bounce 3s infinite);
}

.row {
  width: 100%;
}

.col-6 {
  width: 100%;
  padding: 15px 30px;
  text-align: center;
}

.landing-text-wrapper {
  overflow: hidden;
  background: $beige;
  height: 600px;

  p {
    font-family: $font-stack;
    font-weight: lighter;
    font-size: .8em;
  }
}


.emoji-wrapper img {
  width: 12%;
}

.symbols {
  font-family: $font-stack;
  vertical-align: 24px;
  font-size: 1.7em;
}

.title-text {
  vertical-align: 24px;
  font-size: 2em;
}

.fruit-party {
  width: 100%;
  height: 600px;
  margin-top: 20px;
}





@media screen and (min-width: $laptop) {
  .index-container {
    height: 630px;
  }

  .index-logo {
    font-size: 3em;
  }

  .stage {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -175px 0 0 -250px;
    width: 500px;
    height: 350px;
  }

  .band {
    height: 16px;
    width: 80%;
  }

  .stage {
    ul {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 420px;
      height: 140px;
      overflow: hidden;
      transform: translate(60px, 160px);
    

      li {
        overflow: hidden;
        z-index: 1;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: orange;
        transform: translate(90px, 8px);
        @include animation(moveRight 4s infinite);
      }
    }
  }

  .sample-orange {
    display: inline-block;
    position: absolute;
    left: 300px;
    top: -43px;
  }

  .sample-pear {
    display: inline-block;
    position: absolute;
    right: 337px;
    top: 274px;
  }

  .sample-grape {
    display: inline-block;
    top: -39px;
    right: 300px;
    position: absolute;
  }

  .sample-strawberry {
    display: inline-block;
    top: 100px;
    right: 145px;
    position: absolute;
  }

  .sample-slice {
    display: inline-block;
    top: 130px; 
    left: 126px;
    position: absolute;
    @include animation(bounce 3s infinite);
  }

  .sample-apple {
    display: inline-block;
    position: absolute;
    left: 315px;
    top: 258px;
  }

  .arrow{
    position: relative;
    width: 120px;
    background: $beige;
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px; 
    text-align: center;
    color: $highlight;
  }

  .arrow-bottom:after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $beige; 
  }

  .arrow-wrapper {
    position: absolute;
    bottom: 2%;
    left: 45%;
    @include animation(bounce 3s infinite);
  }

  .col-6 {
    width: 49%;
    display: inline-block;
    padding: 5%;
    vertical-align: top;

    &.right {
      text-align: left;
    }
  }


  .landing-text-wrapper {
    background: $beige;
    height: 450px;

    p {
      margin-left: 10px;
      font-family: $font-stack;
      font-weight: lighter;
      font-size: .8em;
    }
  }

  .slideRight {
    @include animation(slideRight 3s);
  }

  .slideLeft {
    @include animation(slideLeft 3s);
  }

  .emoji-wrapper img {
    width: 60px;
  }
  

  .symbols {
    vertical-align: 12px;
  }

  .title-text {
    vertical-align: 8px;
    font-size: 2em;
  }

  .fruit-party {
    width: 100%;
    position: relative;
    margin-top: 100px;
  }

  .fruit-shadow {
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    width: 105px;
    border-radius: 100%;
    transition: .3s;
    position: absolute;  
  }

  .fruit-shadow.orange {
    top: 153px;
    left: 400px;
  }


  .fruit-shadow.orange {
    top: 153px;
    left: 400px;
  }

  .fruit-shadow.pear {
    bottom: 64px;
    right: 433px;
  }

  .fruit-shadow.grape {
    top: 178px;
    right: 397px;
  }

  .fruit-shadow.slice {
    top: 394px;
    left: 161px;
  }

  .fruit-shadow.strawberry {
    bottom: 213px;
    right: 242px;
  }

  .fruit-shadow.apple {
    bottom: 95px;
    left: 416px;
  }

}