.circle {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #E6F1D2;
  display: inline-block;
  margin-bottom: 5%;
}

.text-right {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-bottom: 5%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container-content {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 80px 0;
  background: #FFFFFF;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  // background-image: url("http://clipart-finder.com/data/preview/fabrica.png");

}
section.module.parallax-2 {
  // background-image: url("");
  background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #2B8B9D 100%);
  background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #2B8B9D 100%);
  background-image: -o-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #2B8B9D 100%);
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #E6F1D2), color-stop(1, #2B8B9D));
  background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #2B8B9D 100%);
  background-image: radial-gradient(circle farthest-corner at center bottom, #E6F1D2 0%, #2B8B9D 100%);
  min-height:100%;

}


@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 40px;
  }
  }
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 60px;
  }
}




// landing page animation

.stage {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -175px 0 0 -250px;
  width: 500px;
  height: 350px;
}

.computer {
  width: 110px;
  height: 82px;
  border-radius: 16px;
  position: absolute;
  top: 37%;
  background: lightgrey;
}

.comp-screen {
  width: 90px;
  height: 64px;
  border-radius: 16px;
  position: absolute;
  top: 39.5%;
  left: 2%;
  z-index: 1;
  background: rgba(0,0,0,.6);
}


.power {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 58%;
  left: 19%;
}

.comp-stand {
  background: lightgrey;
  z-index: 1;
  width: 90px;
  height: 87px;
  position: absolute;
  top: 61%;
  left: 2%;
}

.fa-code {
  color: #27D020;
  margin-top: 20px;
  @include animation(blinker 1s linear infinite);
}

.band {
  position: absolute;
  width: 80%;
  height: 15px;
  background: darken(#4b5d6f, 10);
  border-radius: 8px;
  transform: translate(-4px, 210px);
}

.band-stand {
  background: #4b5d6f;
  position: absolute;
  top: 64.5%;
  transform: skew(-15deg);
  width: 76%;
  height: 75px;
  left: -10px;
}

.dots {
  width: 78%;
  position: absolute;
  top: 53%;
  height: 30px;
  border-bottom: 9px dotted #4b5d6f;
  overflow: hidden;
  @include animation(conveyor-belt 3s infinite);
}

.shadow {
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  width: 18%;
  border-radius: 100%;
  position: absolute;
  bottom: 14%;
  left: 75%;
}


.stage {
  ul {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 420px;
    height: 140px;
    overflow: hidden;
    transform: translate(60px, 160px);
  

    li {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: orange;
      transform: translate(90px, 8px);
      @include animation(moveRight 4s infinite);
    }

    li:nth-child(2) {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: orange;
      transform: translate(140px, 8px);
    }

    li:nth-child(3) {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: orange;
      transform: translate(200px, 8px);
    }

    li:nth-child(4) {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: orange;
      transform: translate(260px, 8px);
    }

    li:nth-child(5) {
      overflow: hidden;
      z-index: 1;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: orange;
      transform: translate(320px, 8px);  
    }
  }
}


.sample-orange {
  position: absolute;
  right: 10%;
  @include animation(bounceDown 6s);
  // @include animation(bounce 2s infinite);
}



