body {
  color: #444;
  // background: $red;
  font-family: $font-fancy;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(12, 13, 13, 0.67);
}

.flex-direction-nav a {
  z-index: 1;
}

html { 
  background-image: -ms-radial-gradient(center bottom, circle farthest-corner, $beige 0%, #5BA7B6 100%);
  background-image: -moz-radial-gradient(center bottom, circle farthest-corner, $beige 0%, #5BA7B6 100%);
  background-image: -o-radial-gradient(center bottom, circle farthest-corner, $beige 0%, #5BA7B6 100%);
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, $beige), color-stop(1, #5BA7B6));
  background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, $beige 0%, #5BA7B6 100%);
  background-image: radial-gradient(circle farthest-corner at center bottom, $beige 0%, #5BA7B6 100%);
  min-height:100%;
}

// fruits new
.logo {
  text-shadow: 1px 1px 2px #111;
  text-align: center;
  padding-top: 1%;
  width: 55%;
  display: inline-block;
  margin-right: 13%;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  font-family: $font-fancy;
}

.instructions {
  margin: 6%;
  text-align: center;
}

.flexslider1, 
.flexslider2,
.flexslider3,
.flexslider4,
.flexslider5 {
  display:none;
}

.flexslider-wrapper {
  position: relative;
}

.parts {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.btn-container,
.index-container {
  width: 100%;
  text-align: center;
}

.preview {
  width: 300px;
  height: 240px;
  display: block;
  margin: 0 auto;
}

.preview-wrapper {
  position: relative;
  margin-bottom: 2%;
  background: rgba(230, 241, 210, 0.4);
  box-shadow: 4px 4px 4px rgba(63, 59, 59, 0.27);
}

.header-container {
  width: 98%;
  margin: 0 auto;
  padding: 1%;
}

.user-input {
  margin: 4%;
}

#fruit_name,
#twitter_name {
  width: 96%;
}

.save-btn-wrapper {
  width: 100%;
  text-align: right;
}

.help-content, .save-content {
  width: 85%;
  z-index: 1;
  display: none;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  padding: 2%;
  border-radius: 4px;
  background: #ffffff;
}

.color-picker {
  display: none;
  bottom: 20px;
  right: 20px;
  position: absolute;
}

.color-picker-info {
  display: none;
  bottom: 20px;
  right: 20px;
  position: absolute;
}

// fruit index
.fruit-gallery {
  display: block;
  margin: 0 auto;
}

.gallery-logo {
  text-shadow: 1px 1px 2px #111;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
}



// home index
.sample {
  display: block;
  margin: 0 auto;
}





@media screen and (min-width: $laptop) {
 
  .fruit-gallery {
    display: inline-block;
    // margin: 3px 5px;
  }

  .gallery-logo {
    display: none;
  }

  .sample {
    display: inline-block;
  }

  .preview-wrapper {
    position: relative;
    width: 50%;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 2%;
    background: rgba(230, 241, 210, 0.4);
    box-shadow: 7px 7px 5px rgba(63, 59, 59, 0.27);
    display: inline-block;
  }

  .shim {
    z-index: 2;
  }

  .flexslider-wrapper {
    width: 50%;
    margin: 0 auto;
    display: inline-block;
  }

  .header-container {
    padding: 0;
  }

  .help-content, .save-content {
    width: 45%;
    z-index: 2;
    display: none;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 12%;
    padding: 2%;
    border-radius: 4px;
    background: #ffffff;
    font-family: $font-stack;
    font-weight: lighter;
    font-size: .7em;

    ol {
      text-align: left;
    }
  }

  .instructions {
    margin: -0%;
  }

  .logo {
    width: 25%;
    margin-right: 20%;
  }

  .svg-wrapper {
    width: 25%;
    height: 300px;
    display: inline-block;

    p {
      margin: -40px;
    }
  }

}


