body {
  color: #444;
  // background:#4eb889;
  font-family: $font-fancy;
  font-size: 1.5em;
}

.shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(12, 13, 13, 0.67);
}

html { 
  background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #2B8B9D 100%);
  background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #2B8B9D 100%);
  background-image: -o-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #2B8B9D 100%);
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #E6F1D2), color-stop(1, #2B8B9D));
  background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #E6F1D2 0%, #2B8B9D 100%);
  background-image: radial-gradient(circle farthest-corner at center bottom, #E6F1D2 0%, #2B8B9D 100%);
  min-height:100%;
}

// fruits new
.logo {
  text-align: center;
  padding-top: 1%;
  width: 58%;
  display: inline-block;
  margin: 0;
  color: #FFFFFF;
}

.instructions {
  margin: 6%;
  text-align: center;
}

.flexslider1, 
.flexslider2,
.flexslider3,
.flexslider4,
.flexslider5 {
  display:none;
}

.parts {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.preview {
  width: 300px;
  height: 240px;
  display: block;
  margin: 0 auto;
}

.preview-wrapper {
  position: relative;
  margin-bottom: 2%;
  background: rgba(230, 241, 210, 0.4);
}

.header-container {
  width: 100%;
  margin: 0 auto;
  padding: 1%;
}

.user-input {
  margin: 4%;
}

#fruit_name,
#twitter_name {
  width: 96%;
}

.save-btn-wrapper {
  width: 100%;
  text-align: right;
}

.help-content, .save-content {
  width: 85%;
  z-index: 1;
  display: none;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  padding: 2%;
  border-radius: 4px;
  background: #ffffff;
}

.color-picker {
  bottom: 20px;
  right: 20px;
  position: absolute;
}

.color-picker-info {
  display: none;
  bottom: 20px;
  right: 20px;
  position: absolute;
}

// fruit index
.fruit-gallery {
  display: block;
  margin: 0 auto;
}

.gallery-logo {
  text-align: center;
  width: 100%;
  color: #FFFFFF;
}

// home index
.sample {
  display: block;
  margin: 0 auto;
}

// fruit show
.show-fruit {
  display: block;
  margin: 0 auto;
  padding-top: 10%;
}



@media screen and (min-width: $laptop) {
  body {
    color: tomato;
  }

  .fruit-gallery {
    display: inline-block;
  }

  .sample {
    display: inline-block;
  }
}






