body {
  color: #444;
}

.wrapper {
  width: 100%;
}

.parts-wrapper {
  width: 96%;
  margin: 0 auto;
}

.preview-wrapper {
  width: 25%;
  margin: 0 auto;
}

.parts {
  width: 300px;
  height: 300px;
}

.preview {
  width: 300px;
  height: 300px;
}


