// fruit show
.show-fruit {
  display: block;
  margin: 0 auto;
}

.code-wrapper {
  width: 90%;
  margin: 0 auto;  

  ol {
    margin-left: -25px;
    font-family: $font-stack;
    font-weight: lighter;
    font-size: .8em;
  }

  .code-title {
    text-align: center;
    font-size: 1.5em;
  }
}

.language-markup {
  font-family: $font-stack;
  font-weight: lighter;
  font-size: .8em;
  border-radius: 4px;
}

.svg-info {
  display: none;
}

.name-text {
  font-size: 1.5em;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 4px;
}


.show-title {
  text-align: center;
  margin-top: 20px;
  color: $beige;
  text-shadow: 1px 1px 2px #111;
  letter-spacing: 1px;
}

.show-subtitle {
  text-align: center;
  margin: 0px;
  color: #444;
}

.tweet-this {
  text-align: center;
}


@media screen and (min-width: $laptop) {


  .code-wrapper {
    width: 70%;
    margin: 0 auto;  

    ol {
      margin-left: 0;
    }
  }

  .page {
    width:80%;
    background: #FFFFFF;
    margin:0 auto;
    position:relative;
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    padding:15px;
    box-sizing:border-box;
  }

  .page:before {
    content:"";
    position:absolute;
    display:block;
    background: #FFFFFF;
    width:100%;
    height:100%;
    transform:rotate(1.5deg);
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    z-index:-1;
    top:-2px;
    left:0;
  }

  .page:after {
    content:"";
    position:absolute;
    display:block;
    background: #FFFFFF;
    width:100%;
    height:100%;
    transform:rotate(-3deg);
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    z-index:-2;
    top:-2px;
    left:0;
  }

  .col-left {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
  }

  .col-right {
    width: 60%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
  }

  .svg-info {
    width: 80%;
    font-size: .7em;
    opacity: 0;
    z-index: 99;
    // color: #bbb;
    color: #FFFFFF;
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    // background: rgba(51,51,51,0.9);
    background-color: #690; 
    // border: 1px solid rgba(34,34,34,0.9);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    @include transform(scale(0));
    @include transition(all .4s ease-in-out); 
  }

  .svg-info:before,
  .svg-info:after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #690;
    position: absolute;
    top: -10px;
    left: 43%;
  }

  .col-left:hover {
    .svg-info {
      opacity: 1;
      @include transform(scale(1));
    }
  }

  .tweet-this {
    margin-bottom: 20px;
  }



}