//Round Body
svg {
  enable-background:  new 0 0 300 300;
}

.body-round {
  fill: orange;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.body-pear {
  fill: #58C823;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.body-strawberry {
  fill: #FF134D;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.body-grape {
  fill: purple;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.body-slice1 {
  stroke:  #000000;
  stroke-miterlimit:  10;
  fill: #059447;
}

.body-slice {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill: #D32A27;
}

.body-apple {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  #6DF818;
}

.body-oval {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  #FFE922;
}

//Open Eyes
.open-eye-lg {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.open-eye-md {
  stroke: #000000;
  stroke-miterlimit:  10;
}

.open-eye-sm {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-miterlimit:  10;
}

//Closed Eyes
.closed-eye {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

// EyesBlack
.eyesBlack {
  stroke: #000000;
  stroke-miterlimit:  10;
}

// EyesPirate
.eyesPirate {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  #050606;
}

.eyesPirate1 {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  none;
}

.eyesPirate2 {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  #FFFFFF;
}

.eyesPirate3 {
  stroke: #000000;
  stroke-miterlimit:  10;
}

// EyesSurprise
.eyesSurprise {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  #FFFFFF;
}

.eyesSurprise1 {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  #070808;
}

.eyesSurprise2 {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  none;
}

//Freckles
.freckles { 
  fill: #EEE810;
  stroke: #FEC255;
  stroke-miterlimit:  10;
}

// Blush
.blush {
  fill: rgba(203, 121, 163, 0.52);
}

//Hair-Leaf
.hair-leaf {
  fill: green;
  stroke: #000000;
  stroke-miterlimit:  10;
}

// Hair-Double-Leaf
.hair-double-leaf {
  fill: green;
  stroke: #000000;
  stroke-miterlimit:  10;
}

// Hair-Shaggy
.hair-shaggy {
  fill: #54A547;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.hair-shaggy-outline {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

// Hairpineapple
.hairPineapple {
  stroke: #000000;
  stroke-miterlimit: 10;
  fill: #08A94B;
}

//Mouth-Sad
.mouth-sad {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Mouth-Happy
.mouth-happy {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Mouth-Open
.mouth-open {
  fill: #FFFFFF;
}

// MouthTeeth
.mouth-teeth {
  stroke: #000000;
  stroke-width: 0.5;
  stroke-miterlimit:  10;
  fill:  none;
}

.mouth-teeth1 {
  stroke: #000000;
  stroke-miterlimit:  10;
  fill:  #FFFFFF;
}

.mouth-teeth2 {
  stroke: #000000;
  stroke-miterlimit:  10;
}

// glasses
.glasses {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.mustache {
  fill: #000000;
  stroke: #000000;
  stroke-miterlimit:  10;
}
