//Round Body
svg {
  enable-background:  new 0 0 300 300;
  background: rgba(237, 242, 231, 0.5);
}

.body-round {
  fill: orange;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.body-pear {
  fill: #58C823;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.body-strawberry {
  fill: #FF134D;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Open Eyes
.open-eye-lg {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.open-eye-md {
  stroke: #000000;
  stroke-miterlimit:  10;
}

.open-eye-sm {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-miterlimit:  10;
}

//Closed Eyes
.closed-eye {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Freckles
.freckles { 
  fill: #EEE810;
  stroke: #FEC255;
  stroke-miterlimit:  10;
}

//Hair-Leaf
.hair-leaf {
  fill: green;
  stroke: #000000;
  stroke-miterlimit:  10;
}

// Hair-Double-Leaf
.hair-double-leaf {
  fill: green;
  stroke: #000000;
  stroke-miterlimit:  10;
}

// Hair-Shaggy
.hair-shaggy {
  fill: #54A547;
  stroke: #000000;
  stroke-miterlimit:  10;
}

.hair-shaggy-outline {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Legs
.legs {
  fill: orange;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Arms
.arms {
  fill: orange;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Mouth-Sad
.mouth-sad {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Mouth-Happy
.mouth-happy {
  fill: none;
  stroke: #000000;
  stroke-miterlimit:  10;
}

//Mouth-Open
.mouth-open {
  fill: #FFFFFF;
}
